div {
}

.genome {
	height: 100px;
	width: 100%;
	border: 1px solid black;
	background-color: #F0F8FF;
}

.synteny {
	height: 100px;
	width: 100%;
	background-color: #FFFFFF;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

input {
	width: 180px;
}

img {
	width: 30px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th{
	border: 1px solid black;
}

.control {
	height: 100px;
	width: 200px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #4682B4;
	color: white;
	font-weight: bold;
}

.base_control {
	width: 200px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #4682B4;
	color: white;
}

.light {
	background-color: #B0C4DE;
	color: black;
}

.tdcontrol {
	width: 200px;
}

p {
	padding-left:10px;
	margin-top: 5px;
}

div#popup {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

.popup {
	display: none;
	padding: 10px;
	background-color: red;
	width: 180px;
	position: absolute;
	border: 1px solid red;
	background-color: #4682B4;
	margin-top: -30px;
}

.popupsynteny {
	display: none;
	padding: 10px;
	background-color: red;
	width: 170px;
	position: absolute;
	border: 5px solid red;
	background-color: #B0C4DE;
	margin-top: -55px;
}

#canvas {
	width: 600px;
	height: 500px;
}

#coord {
	display: none;
	padding: 10px;
	position: absolute;
	border: 1px solid green;
	font-size: small;
	background-color: #F5DEB3;
}

#removespan {
	background-color: yellow;
	padding: 2px;
}

table#summary {
	border: 3px solid #4682B4;
	width: 800px;
}

table#summary td{
	padding: 10px;
}

table#assoc {
}

table#assoc td{
	padding: 0px;
	border: 1px solid #4682B4;
	text-align: center;
}

.order {
	width: 280px;
	border: 1px solid #4682B4;
	padding: 10px;
	margin-top: 5px;
}

span.orderTab {
	border-top: 1px solid #4682B4;
	border-left: 1px solid #4682B4;
	border-right: 1px solid #4682B4;
	padding: 5px;
}

.rounded {
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	-khtml-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}

.entire_rounded {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.genome_select {
	background-color: white;
	color: black;
	width: 60px;
}

.genome_order {
	background-color: #4682B4;
	color: white;
	width: 120px;
}

.option {
	padding: 5px;
	background-color: #4682B4;
}

.pop {
	padding-left: 10px;
	position: absolute;
	background-color: #4682B4;
	margin-top: -10px;
}

.input_button {
	background-color: #4682B4;
	width: 100px;
	color: white;
}

table.history {
}

table.history td{
	border: 1px solid #4682B4;
	padding: 5px;
}

body{ 
	font-family: "PT Sans", "Trebuchet MS", sans-serif; 
	line-height: 1.5em; 
	color: #334; 
}

h1, h2, h3, p, dd, .field { 
	margin-bottom: 1em; 
}
			
#nav ul, #nav ul li { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#nav {
	height: 44px;
	line-height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	/*width: 100%;*/
	min-width:800px;
	z-index: 999;
}
			
#nav img { 
	position:absolute; 
	width: 155px; 
	height: 44px; 
	left:0px; 
	top: 0px;
}

#nav ul { width: 100%; text-align: center; margin: 0px; }
#nav ul li { margin: 0px 5px; display: inline; }
#nav ul li a { text-decoration: none; color: #333; font-family: "PT Sans", "Trebuchet MS", sans-serif; text-transform: none; text-shadow: 1px 1px 1px #000; }
#nav ul li a:active { outline: none; }
#nav ul li a span { padding: 3px 8px 5px; border-radius: 5px; }
#nav ul li a.active span { background: #F37; }
#nav ul li a.active, #nav ul li a.active:hover { color: #fff; background: #F37; }
#nav ul li a:hover span { color: white; background: #F37;}
#bottom { text-align: center; }

img.logo {
	width: 600px;
}

table.inputTable {
	width: 1000px;
}

table.inputTable td{
	padding: 5px;
}

div#synInfo {
	border: 1px solid #4682B4; 
	width: 300px;
	height: 200px; 
	overflow: auto;
}

div#default, div#suggest {
	overflow: auto;
	height: 200px;
	width: 300px;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.toooltip {
	display:none;
	background:transparent url(/mgsv/img/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#eee;
}

.tooltip {
	display:none;
	background-color:#ffa;
	border:1px solid #cc9;
	padding:3px;
	font-size:13px;
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
}

